:root{

    --bg-linear-color: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.nav-logo{
    background: var(--bg-linear-color);
    background-clip:text;
    color: transparent;
    font-size: 1rem;
  

    font-size: 2rem;
}

.custom-btn{
    padding: 13px 16px;

    background: var(--bg-linear-color);
}